Estacionamientos/UnitTest/Connected Services/MyEstacionamiento/MyEstacionamiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyEstacionamiento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Estacionamientos.Model" />
      <xsd:import schemaLocation="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyEstacionamiento_ListarRegistrosPorRangoDeFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistrosPorRangoDeFechas" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_ListarRegistrosPorRangoDeFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistrosPorRangoDeFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_ListarRegistrosPorProvincia_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistrosPorProvincia" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_ListarRegistrosPorProvincia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistrosPorProvinciaResponse" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMyEstacionamiento_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyEstacionamiento">
    <wsdl:operation name="ListarRegistrosPorRangoDeFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorRangoDeFechas" message="tns:IMyEstacionamiento_ListarRegistrosPorRangoDeFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorRangoDeFechasResponse" message="tns:IMyEstacionamiento_ListarRegistrosPorRangoDeFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRegistrosPorProvincia">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorProvincia" message="tns:IMyEstacionamiento_ListarRegistrosPorProvincia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorProvinciaResponse" message="tns:IMyEstacionamiento_ListarRegistrosPorProvincia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyEstacionamiento/GetData" message="tns:IMyEstacionamiento_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyEstacionamiento/GetDataResponse" message="tns:IMyEstacionamiento_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyEstacionamiento/GetDataUsingDataContract" message="tns:IMyEstacionamiento_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyEstacionamiento/GetDataUsingDataContractResponse" message="tns:IMyEstacionamiento_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyEstacionamiento" type="tns:IMyEstacionamiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarRegistrosPorRangoDeFechas">
      <soap:operation soapAction="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorRangoDeFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegistrosPorProvincia">
      <soap:operation soapAction="http://tempuri.org/IMyEstacionamiento/ListarRegistrosPorProvincia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMyEstacionamiento/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMyEstacionamiento/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyEstacionamiento">
    <wsdl:port name="BasicHttpBinding_IMyEstacionamiento" binding="tns:BasicHttpBinding_IMyEstacionamiento">
      <soap:address location="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>